.card {
    color: black !important;
    box-shadow: 0 8px 7px 0px rgba(0, 0, 0, 0.2);
    width: 20% !important;
    height: auto;
    margin: 10px 20px !important;
    text-align: center;
    padding: 20px 0px;
}


.img {
    width: 70% !important;
    object-fit: cover;
    margin: auto;
    
}

.textBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.9rem .3rem; */
    /* gap: 1.5rem; */
    /* height: 15rem; */
    justify-content: flex-end;
}

.head{
    font-size: 25px;
    margin-bottom: 10px;
}
.btn_1 {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    list-style: none;
    justify-self: flex-end;
}