#team {
    background-size: cover;
    width: 100%;
    position: relative;
    /* background-color: red !important   */
    background-image: url("./assets/purple-blue.jpg");
}

.team-bg {
    background-image: url("assets/purple-blue.jpg");
}


.homeTeamCard {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid white;
    position: absolute;
}

.c1 {
    left: 300px !important;
    top: 20px !important
}

.c2 {
    bottom: 300px !important;
    right: 200px !important
}

.c3 {
    bottom: 30px !important;
    right: 140px !important
}

.c4 {
    left: 50px !important;
    bottom: 150px !important
}

.c5 {
    left: 320px !important;
    bottom: 70px !important
}