.bd {
    background: url("../../assets//purple-blue-inv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;

}

.grid-container {
    max-width: 80vw !important;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}