.bd {
    background: url("../../assets//purple-blue-inv.jpg");
    /* width: 100vw; */
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;

    /* background-color: #5f0a87; */
}

.grid-container {
    display: grid;
    justify-content: center;
    gap: 10px 200px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}