@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* * {
    margin: 0;
    padding: 9;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: sans-serif;
} */

/* body { 
    background: #333;
}


h1 {
    font-size: 40px;
    margin-top: 20px;
    color: #e74c3e;
    text-align: center;
} */

.main-wrapper { 
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.team-container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card-GS {
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /* object-fit: coverb; */
    background-color: #222;
}

.team-card { 
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 0 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    /* object-fit: coverb; */
    background-color: #222;
}

.team-card .bg-img img { 
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}

.team-card .pic img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 10px solid #222;
    object-fit: cover;
    margin-top: -140px;
    position: relative;
}

.team-card .info h3{
    color: #f0f0f0;
    font-size: 20px;
    padding: 10px 0;
}

.team-card .info span {
    font-size: 15px;
    color: #e74c3c;
}

.team-card .info p{
    font-size: 13px;
    padding: 10px 20px ;
    color: #999;
}

.team-card .info .icons a{
    font-size: 20px;
    text-decoration: none;
    color: #e74c3c;
    margin-top: 20px;
    padding: 0 5px;
}

.team-card .info .icons a:hover {
    color: white;
}

.img-rohit:hover {
    transform: scaleX(-1);
    transform: rotate(360deg);
}

/* .img-rohit:hover {
    -webkit-animation: spin Is linear infinite;
    -moz-animation: spin Is linear infinite;
    animation: spin Is linear infinite;
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
} */

/* transform: rotate(360deg); */
/* transform: scaleX(-1); */

