.theme-back{
    background-color: #090041;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-head-top{
    letter-spacing: 3px;
}

.theme-overlay{
    height: 100vh;
    width: 100vw;
    opacity: 80%;
    position: absolute;
    top: 0px;
    z-index: 30;
}

.theme-text{
    z-index: 100;
    text-align: center;
    rotate: -3deg;
}

@media screen and (max-width:768px) {
    .theme-text{
        rotate: 0deg;
    }
}


.theme-head{
    font-family: 'SAMAN';
    font-size: 100px;
    margin: 0px;
    padding: 0px;
}

.theme-head-span{
    font-family: 'SAMAN';
    color: yellow !important;
}


.fest-date{
    font-family: 'SAMAN';
    font-size: 50px;
    margin-bottom: 20px;
}

.theme-hr{
    background-color: white;
    height: 3px;
    border-radius: 10px;
    margin: 10px 0px;
}