
/*Footer*/
a{
    color: white;
}

a:hover{
    color: white;
    opacity: 0.7 !important;
}


.footer{
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 30px;

}

.footer-about p{
    line-height: 25px;
    margin: 10px 0px;
}

.mt-auto{
    
}

.socialIcon{
    font-size: 20px;
    margin-right: 15px;
}
.foot-top{
    display: flex;
    width: 90%;
    padding: 10px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.smallFont{
    font-size: 13px;
}

.foot-list h3{
    font-size: 15px;
}
.ulhead{
    border-bottom: 1.5px solid red;
    width: 50%;
    padding: 5px 0px;
}

.foot-list div a{
    font-size: 12px;
    display: block;
    line-height: 30px;
    opacity: 0.7;
}


.foot-cta h3{
    font-size: 15px;
}



.foot-cta div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.foot-cta div input{
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    border: none;
    margin: 10px 0px;
}

.foot-bottom{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foot-bottom p{
    font-size: 12px;
    width: 20%;
}
.foot-bottom div{
    display: flex;
    font-size: 12px;
    width: 65%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.foot-bottom div p{
    width: fit-content;
    opacity: 0.8;
}


/*Responsive*/




