@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background-color: #f0f4e5;
  color: white;
  z-index: 1;
  overflow-x: hidden;
}

* {
  color: white !important;
  font-family: 'Poppins';
}


.fullHeight {
  height: 100vh;
  background: url('./assets/generobg.png');
  background-size: cover;
  width: 100%;
}

#team {
  background: url('./assets/generobg.png');
  background-size: cover;
  width: 100%;
}

.pointer{
  cursor: pointer;
}

#register {
  background: url('./assets/generobg.png');
  background-size: cover;
  width: 100%;
}

.generoOverlay {
  z-index: 1 !important;
  margin-top: -20px;
}

.homeText {
  margin-top: 80px;
  height: 25%;
  text-align: center;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}






.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  top: 0;
  color: white !important;
  z-index: 100 !important;
}



.generoText {
  font-family: 'Marck Script', cursive;
}

.generoTopText {
  letter-spacing: 10px;
  font-weight: 700;
}

.generoAbout {
  line-height: 30px
}

button {
  background-color: yellow !important;
  background: rgb(255, 232, 26) !important;
  box-shadow: rgba(255, 176, 25, 0.4) 0px 0px 10px, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, rgb(255, 135, 25) 0px 0px 15px inset !important;
  padding: 5px 20px;
  border-radius: 200px !important;
  color: black !important;
  border: 0 !important;
  font-weight: bold;
  font-size: 14px !important;

}

.generoBottomText {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 700;
}

#team {
  text-align: center;
}

button:hover {
  opacity: 0.7;
}


.navbar-nav {
  margin-left: auto;
}


#navbarNavAltarkup {
  width: fit-content;
  margin-left: auto;
}


@media screen and (max-width:768px) {
  #home-carousel {
    background-repeat: no-repeat;
    background-position: bottom;
  }


  .homeText {
    height: auto;
    margin-top: 20px;

  }



  #pastEventsGrid {
    flex-wrap: wrap;
  }

  #eventPage{
    padding: 13vw 0px;
  }

  #queries, #register{
    padding:10vw 0px;
  }
  #home-carousel{
    height: 100vh;
  }

  #innerHome {
    flex-direction: column-reverse !important;
  }

  #eventPage {
    height: auto !important;
  }

  #about {
    height: 90vh;
  }

  .navbar-collapse {
    background-color: black;
    border-radius: 10px;
  }

  .fullHeight{
    height: '';
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}