@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background-color: #f0f4e5;
  color: white;
  z-index: 1;
  overflow-x: hidden;
}

*{
  color: white !important;
}

.generoOverlay{
  z-index: 1 !important;
  margin-top: -20px;
}


.homeText{
  margin-top: 80px;
  height:25%;
  text-align: center;
}
div {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

div::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

a{
  text-decoration: none;
}
#gallery {
  padding: 60px;
  overflow: hidden;

}

#gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ff0000;
}

#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff0000;
}

#gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  #gallery .swiper-wrapper {
    padding: 40px 0;
  }

  #gallery .swiper-slide-active {
    border: 5px solid #ff0000;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.15);
    margin-top: 6px;
  }

}


.navbar {
  position: fixed;
  /* background-color: #f0f4e5; */
  background-color: transparent;
  width: 100%;
  top: 0;
  color: white !important;
  z-index: 100 !important;
}

* {
  font-family: 'Poppins';
}

#home-carousel {
  /* margin-top: 50px !important; */
}

.generoText{
  font-family: 'Marck Script', cursive;
}

.generoTopText{
  letter-spacing: 10px;
  font-weight: 700;
}

.generoAbout{
  line-height: 30px
}

button{
  background-color: yellow !important;
  background: rgb(255, 232, 26) !important;
  box-shadow: rgba(255, 176, 25, 0.4) 0px 0px 10px, rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.15) 0px -3px 0px inset, rgb(255, 135, 25) 0px 0px 15px inset !important;
  padding:5px 20px;
  border-radius: 5px;
  color: black !important;
  border: 0 !important;
  font-weight: bold;
  font-size: 14px !important;

}

.generoBottomText{
  text-transform:uppercase;
  letter-spacing: 10px;
  font-weight: 700;
}

.genero

a {
  text-decoration: none;
}
#home-carousel,#about,#queries,#eventPage, #pastEventsGrid {
  background: url('./assets/generobg.png');
  background-size: cover;
  width: 100%;
}

button:hover {
  opacity: 0.7;
}

.btn-grad {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: 0;
  z-index: 10 !important
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


#navbarNavAltMarkup {
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width:768px) {
  #home-carousel {
    background-repeat: no-repeat;
    background-position: bottom;
  }

  
  .homeText{
    height: 75%;
    
  }

  #pastEventsGrid{
    flex-wrap: wrap;

  }

  #eventPage{
    height: auto !important;
  }
  #about{
    height: 90vh;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* .slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
} */



