

:root {
    --slow: 0s;
}

#pastEventsGrid {
    display: flex;
    justify-content: center;
    gap: 30px;
    transition: 0.3s;
}

.slider {
    height: 70vh;
    overflow: hidden;
}

.slider-items {
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    padding-top: 3vmin;
    animation-name: scroll;
    animation-duration: 30s;
    animation-duration: calc(30s + var(--slow));
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pastHead{
    margin: 0;
    font-weight: 700;
    letter-spacing: 15px;
}

.pastPara{
    letter-spacing: 10px;
    text-transform: uppercase;
}
.item {
    position: relative;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}



.item:hover {
    transform: scale(0.9);
}

@keyframes scroll {
    100% {
        transform: translateY(-100%);
    }
}

@media (hover: hover) {
    .slider:hover .slider-items {
        animation-play-state: paused;
    }
}


@media (max-width: 600px) {
    .hidden-m {
        display: none;
    }
    .pastPara{
        letter-spacing: 7px;
    }
}


.slider {
    --delay: -10s;
    --slow: 2s
}

.hidden-m {
    --delay: -20s;
    --slow: -2s
}

.pastEventsText{
    padding-top: 100px;
}